<h1>Welcome to your Arroyo Driving School Dashboard, <%= @account.name %>!</h1>

<div style = "position: absolute; left:0 px; top: 100px;">
<p><%= @account.username%>'s  currently in : "courses that they're in will be listed"</p>
</div>

<div style = "position: absolute; left:600px; top: 100px;">
<p>Their balance</p>
</div>

<!-- this page will be the landing page for a user who has logged in *assuming once login page is made* -->